@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}
body {
   font-family: "UD Digi Kyokasho N-R", sans-serif;
   line-height: 1.5;
}
